.coverage
*.pyc
.idea
.tags
/final_static
/logs
/deploy/local
/deploy/run_local.sh
/mysql
coverage.xml
xunit.xml
/main/local_settings.py
docker-compose.override.yml

# To avoid conflicts between dev en live yml.
production.yml

# Variables that will be added to the env on production/development.
.env
