.coverage
*.pyc
.idea
.tags
/final_static
/logs
/deploy/local
/mysql
coverage.xml
xunit.xml
/main/local.py
flake8.txt
# To avoid conflicts between dev en live yml.
production.yml
.env

# Virtualenv
.venv

# Direnv stuff
.direnv.master*
