.coverage
*.pyc
.idea
.tags
/final_static
/logs
/deploy/local
/mysql
coverage.xml
xunit.xml
/main/local.py
flake8.txt
# To avoid conflicts between dev en live yml.
production.yml

# Variables that will be added to the env on production/development.
.env
.venv
.direnv.master*