# Needed for DB connection.
mysqlclient==1.3.12

# Package for sending push notifications for IOS device.
apns-clerk==0.2.0

# Package for sending push notifications for Android device.
python-gcm==0.4.0
pyfcm==1.4.2

Django==1.11.5

# Framwork used for the API.
djangorestframework==3.6.4

redis-py-cluster==1.3.4

sqlparse==0.2.3

uwsgi==2.0.13.1

# Testing.
django-nose==1.4.5
coverage==4.4.1
django-extensions==1.9.8
testfixtures==5.3.1
freezegun==0.3.9

# Logging.
raven==6.1.0

# Logging to Logentries
logentries==0.17